**/node_modules/
.git/
.idea/
.vscode/
*.log
*.tmp
docker-compose/cubrid/data/
docker-compose/cubrid/init/

# Exclude source code and project/build configs
**/src/
**/pom.xml
**/.settings/
**/.classpath
**/.project

# Keep mappings and ports for MsaManager
!msa-mappings.yml
!msa-ports.yml

# Exclude heavy target folders...
**/target/*
# ...but KEEP the JAR files inside them!
!**/target/*.jar
