<!--<link rel="stylesheet" type="text/css" th:href="@{/mip/css/pattern_css.css}">-->
<!--<script th:inline="javascript" th:src="@{/mip/js/pattern/ui-pattern-script.js}" defer></script>-->
<!--<script th:inline="javascript" th:src="@{/mip/js/pattern/ui-script.js}" defer></script>-->
<!--<script th:inline="javascript" th:src="@{/mip/js/component/ui-script.js}" defer></script>-->
<!--<script th:inline="javascript" th:src="@{/mip/js/egovframework/common.js}"></script>-->
<!--<script th:inline="javascript" th:src="@{/mip/js/comm/jquery-3.6.0.js}"></script>-->
<!--<script th:inline="javascript" th:src="@{/mip/js/comm/base64.min.js}"></script>-->
<!--<script th:inline="javascript" th:src="@{/mip/js/comm/common.js}"></script>-->
<!--<script th:inline="javascript" th:src="@{/mip/js/comm/qrcode.js}"></script>-->
<!--<script th:inline="javascript" th:src="@{/mip/js/comm/privacy.js}"></script>-->
<!--<script th:inline="javascript" th:src="@{/mip/js/qrmpm.js}"></script>-->

<link rel="stylesheet" type="text/css" th:href="@{/mip/css/component/output.css}">
<link rel="stylesheet" type="text/css" th:href="@{/mip/css/egovframe.css}">

<script th:inline="javascript" th:src="@{/mip/js/component/ui-script.js}" defer></script>
<script th:inline="javascript" th:src="@{/mip/js/egovframework/common.js}" defer></script>

<script th:inline="javascript" th:src="@{/mip/js/comm/jquery-3.6.0.js}"></script>
<script th:inline="javascript" th:src="@{/mip/js/comm/base64.min.js}"></script>
<script th:inline="javascript" th:src="@{/mip/js/comm/common.js}"></script>
<script th:inline="javascript" th:src="@{/mip/js/comm/qrcode.js}"></script>
<script th:inline="javascript" th:src="@{/mip/js/comm/privacy.js}"></script>
<script th:inline="javascript" th:src="@{/mip/js/qrmpm.js}"></script>
