<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{comUssOlpQrm.title}+' '+#{title.list}"></title>
    <div th:replace="uss/olp/qrm/fragement/linkFragment"></div>
</head>

<body>
<div id="container">
    <nav class="krds-breadcrumb-wrap" aria-label="브레드크럼" id="breadcrumb">
        <ol class="breadcrumb">
            <li class="home"><a href="/" class="txt" th:text="#{comCmm.home.title}"></a></li>
            <li th:text="#{comCmm.uss.title}"></li>
        </ol>
    </nav>

    <h2 class="heading-large"><span th:text="#{comUssOlpQrm.title}+' '+#{title.list}"></span></h2>

    <form id="listForm" name="listForm">
        <input type="hidden" th:id="qustnrRespondId" th:name="qustnrRespondId"/>
        <input type="hidden" th:id="pageIndex" th:name="pageIndex" th:value="1"/>

        <div class="form-group">
            <div class="search-wrap">
                <div class="search-body">
                    <div class="form-conts searchOption">
                        <select id="searchCondition" name="searchCondition" class="krds-form-select medium" th:title="#{title.searchCondition}">
                            <option th:text="#{comUssOlpQrm.searchCondition.RESPOND_NM}" value="1" ></option>
                            <option th:text="#{comUssOlpQrm.regist.registerName}" value="2" ></option>
                        </select>
                    </div>
                    <div class="form-conts btn-ico-wrap searchKeyword">
                        <input type="text" id="searchKeyword" name="searchKeyword" class="krds-input medium" th:placeholder="#{title.search} + #{search.placeholder}">
                        <button type="button" class="krds-btn medium icon"  th:onclick="qustnrRespondInfoSearch()">
                            <span class="sr-only" th:text="#{button.search}"></span>
                            <i class="svg-icon ico-sch"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="krds-table-wrap">
        <table class="tbl col data">
<!--            <caption>설문관리 시스템 구축 시 사용되는 응답자정보 기능을 제공하는 컴포넌트</caption>-->
            <colgroup>
                <col style="width: 20%;">
                <col style="width: 20%;">
                <col style="width: 20%;">
                <col style="width: 20%;">
                <col style="width: 20%;">
            </colgroup>
            <thead>
                <tr>
                    <th scope="col" class="text-center"><span th:text="#{table.num}"></span></th>
                    <th scope="col" class="text-center"><span th:text="#{comUssOlpQrm.regist.qestnrCn}"></span></th>
                    <th scope="col" class="text-center"><span th:text="#{comUssOlpQrm.regist.respondNm}"></span></th>
                    <th scope="col" class="text-center"><span th:text="#{comUssOlpQrm.regist.registerName}"></span></th>
                    <th scope="col" class="text-center"><span th:text="#{comUssOlpQrm.regist.registerDate}"></span></th>
                </tr>
            </thead>
            <tbody id="qustnrRespondInfo-list-container"></tbody>
        </table>
    </div>

    <div id="pagination-container" class="krds-pagination w-page"></div>
</div>
<script th:inline="javascript" defer>
    document.addEventListener('DOMContentLoaded', function() {
        qustnrRespondInfoList();

        document.getElementById('searchCondition').addEventListener('change', function() {
            document.getElementById('searchKeyword').value = '';
        });
    });

    function qustnrRespondInfoSearch() {
        if (notNullCheck(document.getElementById('searchKeyword').value)) {
            qustnrRespondInfoList();
        } else {
            alert('[(#{title.search})][(#{search.placeholder})]');
        }
    }

    function qustnrRespondInfoList() {
        const form = document.getElementById('listForm');
        const formData = new FormData(form);

        fetch('/uss/olp/qrm/qustnrRespondInfoList', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            const qustnrRespondInfoList = data.qustnrRespondInfoList;
            const pagination = data.pagination;
            const lineNumber = data.lineNumber;

            let html = '';
            if(qustnrRespondInfoList.length === 0){
                html = `<tr><td class="text-center" colspan="5">[(#{info.nodata.msg})]</td></tr>`
            }else{
                qustnrRespondInfoList.forEach(function(qustnrRespondInfo, index) {
                    const number = lineNumber + (index + 1);
                    html += '<tr>';
                    html += '<td class="text-center">'+number+'</td>';
                    html += '<td class="text-center">'+qustnrRespondInfo.qustnrSj+'</td>';
                    html += '<td class="text-center">'+
                        '<a class="krds-btn text medium" style="cursor" tabindex="0" onclick="qustnrRespondInfoDetail('+
                        '\''+qustnrRespondInfo.qustnrRespondId+'\''+
                        ')">'+qustnrRespondInfo.respondNm+
                        '</a></td>';
                    html += '<td class="text-center">'+qustnrRespondInfo.userNm+'</td>';
                    html += '<td class="text-center">'+qustnrRespondInfo.frstRegistPnttm+'</td>';
                    html += '</tr>';
                });
            }
            document.getElementById('qustnrRespondInfo-list-container').innerHTML = html;
            document.getElementById('pagination-container').innerHTML = pagination;
        });
    }

    function linkPage(pageIndex) {
        document.getElementById('pageIndex').value = pageIndex;
        qustnrRespondInfoList();
    }

    function qustnrRespondInfoDetail(qustnrRespondId) {
        document.getElementById('qustnrRespondId').value = qustnrRespondId;
        const form = document.getElementById('listForm');
        form.setAttribute('method', 'post');
        form.setAttribute('action', '/uss/olp/qrm/qustnrRespondInfoDetailView');
        form.submit();
    }

    function qustnrRespondInfoCreate() {
        const form = document.getElementById('listForm');
        form.setAttribute('method', 'post');
        form.setAttribute('action', '/uss/olp/qrm/qustnrRespondInfoInsertView');
        form.submit();
    }
</script>

</body>
</html>
