<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{mobileId.mobileId}"></title>
    <div th:replace="mip/fragement/linkFragment"></div>
</head>

<body>
<div id="container">
    <nav class="krds-breadcrumb-wrap" aria-label="브레드크럼" id="breadcrumb">
        <ol class="breadcrumb">
            <li class="home"><a href="/" class="txt" th:text="#{comCmm.home.title}"></a></li>
            <li th:text="#{comCmm.sec.title}"></li>
        </ol>
    </nav>

    <div class="krds-tab-area layer">
        <!-- tab list -->
        <div class="tab fill full">
            <h2 class="heading-large"><span th:text="#{mobileId.mobileId}"></span></h2>
            <ul role="tablist">
                <li id="tab_login_01" role="tab" aria-selected="true" aria-controls="panel_login_01" th:class="${license == 'driver' ? 'active' : ''}">
                    <button type="button" class="btn-tab" name="paramBtn" th:data-license="${'driver'}" th:text="#{mobileId.driver}"></button>
                </li>
                <li id="tab_login_02" role="tab" aria-selected="false" aria-controls="panel_login_01" th:class="${license == 'honor' ? 'active' : ''}">
                    <button type="button" class="btn-tab" name="paramBtn" th:data-license="${'honor'}" th:text="#{mobileId.honor}"></button>
                </li>
                <li id="tab_login_03" role="tab" aria-selected="false" aria-controls="panel_login_01" th:class="${license == 'expat' ? 'active' : ''}">
                    <button type="button" class="btn-tab" name="paramBtn" th:data-license="${'expat'}" th:text="#{mobileId.expat}"></button>
                </li>
            </ul>
        </div>
        <!-- tab contents -->
        <form id="form" name="form">
        <div class="tab-conts-wrap" th:if="${license != null}">
            <div class="tab-header-area">
                <h3 class="sec-tit" th:text="#{mobileId.info}"></h3>

                <p th:if="${license == 'driver'}" th:text="#{mobileId.explain.first.driver}"></p>
                <p th:if="${license == 'honor'}" th:text="#{mobileId.explain.first.honor}"></p>
                <p th:if="${license == 'expat'}" th:text="#{mobileId.explain.first.expat}"></p>
                <p th:text="#{mobileId.explain.second}"></p>

                <div class="btn-wrap">
                    <button type="button" class="krds-btn" id="qrInfoReqBtn" th:text="#{mobileId.qrInfoReqBtn}"></button>
                    <button type="button" class="krds-btn" id="trxstsBtn" th:text="#{mobileId.trxstsBtn}"></button>
                    <button type="button" class="krds-btn" id="resetTrxstsBtn" th:text="#{mobileId.resetTrxstsBtn}"></button>
                </div>
            </div>

            <section id="panel_login_01" aria-labelledby="tab_login_01" th:class="${license != null ? 'active tab-conts' : 'tab-conts'}" data-quick-nav="false" >
                <h3 class="sr-only">탭 영역 타이틀</h3>
                <input type="hidden" id="cmd" name="cmd" value="510" />

                <div class="code_mode">
                    <div class="form-group">
                        <div class="form-tit">
                            <label for="mode">Mode</label>
                        </div>
                        <div class="form-conts">
                            <select id="mode" name="mode" class="krds-form-select" required>
                                <option value="direct">direct</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-tit">
                            <label for="svcCode" th:text="#{mobileId.svcCode}"></label>
                        </div>
                        <div class="form-conts">
                            <select id="svcCode" name="svcCode" class="krds-form-select" required>
                                <option th:each="service : ${serviceList}"
                                        th:value="${service.svcCode}"
                                        th:text="${service.svcCode}"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="code_result">
                    <div class="form-group">
                        <div class="form1" id="qrCodeDiv">
                            <h1 class="sec-tit" th:text="#{mobileId.box.qr}"></h1>
                            <div class="qr-area" id="qrCodeArea">QR Code</div>
                        </div>
                        <div class="form2">
                            <h1 class="sec-tit" th:text="#{mobileId.box.trxSts}"></h1>
                            <div class="def-list-wrap">
                                <dl class="def-list">
                                    <dt th:text="#{mobileId.license.trxcode}"> : </dt>
                                    <dd id="trxcodeTag"></dd>
                                    <dt th:text="#{mobileId.license.trxStsCode}"> : </dt>
                                    <dd id="trxStsCodeTag"></dd>
                                    <dt th:text="#{mobileId.license.vpVerifyResult}"> : </dt>
                                    <dd id="vpVerifyResultTag"></dd>
                                    <dt th:text="#{mobileId.license.regDt}"> : </dt>
                                    <dd id="regDtTag"></dd>
                                    <dt th:text="#{mobileId.license.profileSendDt}"> : </dt>
                                    <dd id="profileSendDtTag"></dd>
                                    <dt th:text="#{mobileId.license.vpReceptDt}"> : </dt>
                                    <dd id="vpReceptDtTag"></dd>
                                    <dt th:text="#{mobileId.license.imgSendDt}"> : </dt>
                                    <dd id="imgSendDtTag"></dd>
                                    <dt th:text="#{mobileId.license.udtDt}"> : </dt>
                                    <dd id="udtDtTag"></dd>
                                    <dt th:text="#{mobileId.license.vpData}"></dt>
                                    <dd id="vpTag" th:text="#{mobileId.license.encryptedVp}"></dd>
                                    <dd style="width:100%"><p class="dataArea" id="vpArea" style="display: none; width: 100%"></p></dd>
                                </dl>
                            </div>
                        </div>
                        <div class="form3">
                            <h1 class="sec-tit" th:text="#{mobileId.box.privacy}"></h1>
                            <div class="def-list-wrap">
                                <dl class="def-list">
                                    <dt th:text="#{mobileId.license.name}"> : </dt>
                                    <dd id="resultNameTag"></dd>
                                    <dt th:text="#{mobileId.license.ihidnum}"> : </dt>
                                    <dd id="resultIhidnumTag"></dd>
                                    <dt th:text="#{mobileId.license.address}"> : </dt>
                                    <dd id="resultAddressTag"></dd>
                                    <dt th:text="#{mobileId.license.birth}"> : </dt>
                                    <dd id="resultBirthTag"></dd>
                                    <dt th:text="#{mobileId.license.dlphotoimage}"> : </dt>
                                    <dd><img id="resultDlphotoimageTag" alt="Hex To Image"></dd>
                                    <dt th:text="#{mobileId.license.compare}"> : </dt>
                                    <dd id="resultTag"></dd>
                                    <dd style="width:100%"><p class="dataArea" id="resultArea" style="display: none;"></p></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        </form>
    </div>

    <script th:inline="javascript" defer>
        /**
         license 목적 : privacy.js로 전달
         license 활용 : main.html, privacy.js
         license 목록 : "driver", "honor", "expat"
         */
        let license = /*[[${license}]]*/"driver";

        $("button[name='paramBtn']").click(function() {
            license = $(this).attr("data-license");
            location.href = "/mip/main/" + encodeURIComponent(license);
        });
    </script>
</div>
</body>
</html>
