<!-- masthead -->
<div id="krds-masthead">
    <div class="toggle-wrap">
        <div class="toggle-head">
            <div class="inner">
                <span class="nuri-txt">이 누리집은 대한민국 공식 전자정부 누리집입니다.</span>
            </div>
        </div>
    </div>
</div>

<header id="krds-header">
    <!-- 헤더 컨텐츠 영역  -->
    <div class="header-in">
        <!-- 헤더 상단 기타메뉴 -->
        <div class="header-container">
            <div class="inner">
                <div class="header-branding">
                    <h2 class="logo">
                        <a href="/main/"></a>
                    </h2>
                    <div class="left" style="margin-left:20px;"><h2><span th:text="#{comCmm.top.title}"></span></h2></div>
                </div>
            </div>
        </div>
        <!-- //헤더 상단 기타메뉴 -->
    </div>
    <!-- //헤더 컨텐츠 영역  -->
</header>
