<link rel="stylesheet" type="text/css" th:href="@{/cop/brd/css/component/output.css}">
<link rel="stylesheet" type="text/css" th:href="@{/cop/brd/css/egovframe.css}">
<script th:inline="javascript" th:src="@{/cop/brd/js/component/ui-script.js}" defer></script>
<script th:inline="javascript" th:src="@{/cop/brd/js/egovframework/common.js}" defer></script>
<script th:inline="javascript" th:src="@{/cop/brd/js/jquery-3.7.1.min.js}"></script>

<link rel="stylesheet" type="text/css" th:href="@{/cop/brd/ckeditor5_simple/ckeditor5.css}">
<link rel="stylesheet" type="text/css" th:href="@{/cop/brd/css/ckEditor_simple-main.css}">
<script type="module" th:src="@{/cop/brd/ckeditor5_simple/ckeditor5.js}"></script>
<script type="module" th:src="@{/cop/brd/js/ckEditor_simple-main.js}"></script>
