<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{comSymCcmCde.cmmnDetailCodeVO.title}+' '+#{title.create}"></title>
    <div th:replace="sym/ccm/cde/fragment/linkFragment"></div>
</head>

<body>
<div id="container">
    <nav class="krds-breadcrumb-wrap" aria-label="브레드크럼" id="breadcrumb">
        <ol class="breadcrumb">
            <li class="home"><a href="/" class="txt" th:text="#{comCmm.home.title}"></a></li>
            <li th:text="#{comCmm.sym.title}"></li>
        </ol>
    </nav>

    <h2 class="heading-large"><span th:text="#{comSymCcmCde.cmmnDetailCodeVO.title}+' '+#{title.create}"></span></h2>

    <form id="insertForm" name="insertForm" th:object="${cmmnDetailCodeVO}">

        <div class="conts-wrap">
            <div class="fieldset input-form">
                <div class="form-group">
                    <div class="form-tit">
                        <label for="codeId" th:text="#{comSymCcmCde.cmmnDetailCodeVO.codeId}"></label>
                    </div>
                    <div class="form-conts">
                        <select class="krds-form-select" id="clCode" name="clCode"
                                th:title="#{comSymCcmCde.cmmnDetailCodeVO.codeId}" th:onchange="cmmnCodeList(this.value)"></select>
                        <select class="krds-form-select" id="codeId" name="codeId"
                                th:field="*{codeId}" th:title="#{comSymCcmCde.cmmnDetailCodeVO.codeId}"></select>
                    </div>
                    <p class="form-hint-invalid" id="codeIdError" style="display:none"></p>
                </div>

                <div class="form-group">
                    <div class="form-tit">
                        <label for="code" th:text="#{comSymCcmCde.cmmnDetailCodeVO.code}"></label>
                    </div>
                    <div class="form-conts">
                        <input type="text" id="code" name="code" class="krds-input" maxlength="6"
                               th:placeholder="#{comSymCcmCde.cmmnDetailCodeVO.code}+' '+#{input.input}" th:field="*{code}">
                    </div>
                    <p class="form-hint-invalid" id="codeError" style="display:none"></p>
                </div>

                <div class="form-group">
                    <div class="form-tit">
                        <label for="codeNm" th:text="#{comSymCcmCde.cmmnDetailCodeVO.codeNm}"></label>
                    </div>
                    <div class="form-conts">
                        <input type="text" id="codeNm" name="codeNm" class="krds-input" maxlength="70"
                               th:placeholder="#{comSymCcmCde.cmmnDetailCodeVO.codeNm}+' '+#{input.input}" th:field="*{codeNm}">
                    </div>
                    <p class="form-hint-invalid" id="codeNmError" style="display:none"></p>
                </div>

                <div class="form-group">
                    <div class="form-tit">
                        <label for="codeDc" th:text="#{comSymCcmCde.cmmnDetailCodeVO.codeDc}"></label>
                    </div>
                    <div class="form-conts">
                        <div class="textarea-wrap">
                            <textarea id="codeDc" name="codeDc" maxlength="200" class="krds-input"
                                      th:field="*{codeDc}"
                                      th:placeholder="#{comSymCcmCde.cmmnDetailCodeVO.codeDc}+' '+#{input.input}"></textarea>
                            <p class="textarea-count">
                                <span id="textCount" class="text-primary">0</span>
                                <span class="text-num">/200</span></p>
                        </div>
                    </div>
                    <p class="form-hint-invalid" id="codeDcError" style="display:none"></p>
                </div>

                <div class="form-group">
                    <div class="form-tit">
                        <label for="useAt" th:text="#{comSymCcmCde.cmmnDetailCodeVO.useAt}"></label>
                    </div>
                    <div class="form-conts">
                        <select class="krds-form-select" id="useAt" name="useAt" th:title="#{comSymCcmCde.cmmnDetailCodeVO.useAt}">
                            <option th:text="#{input.yes}" value="Y"></option>
                            <option th:text="#{input.no}" value="N"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="page-btn-wrap">
                <button type="button" class="krds-btn medium tertiary" th:text="#{button.list}" th:onclick="cmmnDetailCodeList()"></button>
                <button type="button" class="krds-btn medium" th:text="#{button.create}" th:onclick="cmmnDetailCodeInsert()"></button>
            </div>
        </div>
    </form>
</div>
<script th:inline="javascript" defer>
    $(document).ready(function() {
        cmmnClCodeList();
        cmmnCodeList('');

        $('#codeDc').on('input', function() {
            $('#textCount').text($(this).val().length);
        });
    });

    function cmmnDetailCodeList() {
        $(location).attr('href', '/sym/ccm/cde/cmmnDetailCodeListView');
    }

    function cmmnDetailCodeInsert() {
        if (confirm('[(#{common.save.msg})]')) {
            $('#codeIdError, #codeError, #codeNmError, #codeDcError').text('');
            $('#codeIdError, #codeError, #codeNmError, #codeDcError').css("display","none");
            $.ajax({
                url: '/sym/ccm/cde/cmmnDetailCodeInsert',
                method: 'post',
                data: $('#insertForm').serialize(),
            }).done(function(response) {
                if(response.status === 'valid') {
                    $.each(response.errors, function(key, value) {
                        $('#'+key+'Error').text(value);
                        $('#'+key+'Error').css("display","block");
                    });
                } else if (response.status === 'error') {
                    alert('[(#{fail.common.insert})]');
                    cmmnDetailCodeList();
                } else {
                    alert('[(#{success.common.insert})]');
                    cmmnDetailCodeList();
                }
            });
        }
    }

    function cmmnClCodeList() {
        $.ajax({
            url: '/sym/ccm/cde/cmmnClCodeList',
            method: 'post'
        }).done(function(response) {
            let cmmnClCodeList = response.cmmnClCodeList;
            let defaultText = '[(#{input.select})]';
            let html = '';
            html += '<option value="">'+defaultText+'</option>';
            cmmnClCodeList.forEach(function (cmmnClCode, index) {
                html += '<option value="'+cmmnClCode.clCode+'">'+cmmnClCode.clCodeNm+'</option>';
            });
            $('#clCode').html(html);
        });
    }

    function cmmnCodeList(clCode) {
        let defaultText = '[(#{input.select})]';
        if (clCode) {
            $.ajax({
                url: '/sym/ccm/cde/cmmnCodeList',
                method: 'post',
                data: {clCode:clCode}
            }).done(function(response) {
                let cmmnCodeList = response.cmmnCodeList;
                let html = '';
                html += '<option value="">'+defaultText+'</option>';
                cmmnCodeList.forEach(function (cmmnCode, index) {
                    html += '<option value="'+cmmnCode.codeId+'">'+cmmnCode.codeIdNm+'</option>';
                });
                $('#codeId').html(html);
            });
        } else {
            let html = '';
            html += '<option value="">'+defaultText+'</option>';
            $('#codeId').html(html);
        }
    }
</script>

</body>
</html>
