<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{comUssOlpQqm.title}+' '+#{title.create}"></title>
    <div th:replace="uss/olp/qqm/fragement/linkFragment"></div>
</head>

<body>
<div id="container">
    <nav class="krds-breadcrumb-wrap" aria-label="브레드크럼" id="breadcrumb">
        <ol class="breadcrumb">
            <li class="home"><a href="/" class="txt" th:text="#{comCmm.home.title}"></a></li>
            <li th:text="#{comCmm.uss.title}"></li>
        </ol>
    </nav>

    <h2 class="heading-large"><span th:text="#{comUssOlpQqm.title}+' '+#{title.create}"></span></h2>

    <form id="insertForm" name="insertForm" th:object="${qustnrQesitmVO}">
    <input type="hidden" th:id="qustnrTmplatId" th:name="qustnrTmplatId"/>
    <input type="hidden" th:id="qestnrId" th:name="qestnrId"/>
    <input type="hidden" th:id="qustnrQesitmId" th:name="qustnrQesitmId"/>

        <div class="conts-wrap">
            <div class="fieldset input-form">
                <div class="form-group">
                    <div class="form-tit">
                        <label for="qustnrSj" th:text="#{comUssOlpQqm.regist.qestnrCn}"></label>
                    </div>
                    <div class="form-conts modal-wrap" style="flex-direction: row;">
                        <input type="text" id="qustnrSj" name="qustnrSj" class="krds-input" readonly="readonly">
                        <button type="button" class="krds-btn medium tertiary open-modal" data-target="qestnrInfoModal" id="qestnrInfoBtn" th:text="#{button.search}"></button>
                    </div>
                    <p class="form-hint-invalid" id="qestnrIdError" style="display:none"></p>
                </div>

                <div class="form-group">
                    <div class="form-tit">
                        <label for="qestnSn" th:text="#{comUssOlpQqm.regist.qestnSn}"></label>
                    </div>
                    <div class="form-conts">
                        <input type="text" id="qestnSn" name="qestnSn" class="krds-input" maxlength="10"
                               th:field="*{qestnSn}"
                               th:placeholder="#{comUssOlpQqm.regist.qestnSn}+' '+#{input.input}">
                    </div>
                    <p class="form-hint-invalid" id="qestnSnError" style="display:none"></p>
                </div>

                <div class="form-group">
                    <div class="form-tit">
                        <label for="qestnTyCode" th:text="#{comUssOlpQqm.regist.qestnTyCode}"></label>
                    </div>
                    <div class="form-conts">
                        <select class="krds-form-select" id="qestnTyCode" name="qestnTyCode" th:title="#{input.select}"></select>
                    </div>
                    <p class="form-hint-invalid" id="qestnTyCodeError" style="display:none"></p>
                </div>

                <div class="form-group">
                    <div class="form-tit">
                        <label for="qestnCn" th:text="#{comUssOlpQqm.regist.qestnCn}"></label>
                    </div>
                    <div class="form-conts">
                        <div class="textarea-wrap">
                            <textarea id="qestnCn" name="qestnCn" maxlength="2000" class="krds-input"
                                      th:placeholder="#{comUssOlpQqm.regist.qestnCn}+' '+#{input.input}"></textarea>
                            <p class="textarea-count">
                                <span id="qestnCnCount" class="text-primary">0</span>
                                <span class="text-num">/2000</span></p>
                        </div>
                    </div>
                    <p class="form-hint-invalid" id="qestnCnError" style="display:none"></p>
                </div>

                <div class="form-group">
                    <div class="form-tit">
                        <label for="mxmmChoiseCo" th:text="#{comUssOlpQqm.regist.mxmmChoiseCo}"></label>
                    </div>
                    <div class="form-conts">
                        <select class="krds-form-select" id="mxmmChoiseCo" name="mxmmChoiseCo" th:title="#{comUssOlpQqm.regist.mxmmChoiseCo}"></select>
                    </div>
                    <p class="form-hint-invalid" id="mxmmChoiseCoError" style="display:none"></p>
                </div>
            </div>
            <div class="page-btn-wrap">
                <button type="button" class="krds-btn medium tertiary" th:text="#{button.list}" th:onclick="qustnrQesitmList()"></button>
                <button type="button" class="krds-btn medium" th:text="#{button.create}" th:onclick="qustnrQesitmInsert()"></button>
            </div>
        </div>
    </form>
</div>
<!-- Modal Start -->
<section id="qestnrInfoModal" class="krds-modal fade" aria-hidden="true" role="dialog" aria-labelledby="tit_qestnrInfoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="tit_qestnrInfoModal" class="modal-title">
                    <span th:text="#{comUssOlpQrm.comUssOlpQmc.title}+' '+#{title.list}"></span></h2>
            </div>
            <div class="modal-conts">
                <div class="conts-area">
                    <div th:insert="~{uss/olp/qqm/qestnrInfoListPopup::modalContents}"></div>
                </div>
            </div>
            <button type="button" class="krds-btn medium icon btn-close close-modal">
                <span class="sr-only" th:text="#{button.close}"></span>
                <i class="svg-icon ico-popup-close"></i>
            </button>
        </div>
    </div>
    <div class="modal-back"></div>
</section>
<!-- Modal End -->

<script th:inline="javascript" defer>
    document.addEventListener('DOMContentLoaded', function() {
        const qestnCn = document.getElementById('qestnCn');
        const qestnCnCount = document.getElementById('qestnCnCount');

        qestnCn.addEventListener('input', function() {
            qestnCnCount.textContent = qestnCn.value.length;
        });

        cmmnDetailCodeList();
        MaxNumberSelect();
    });

    function qustnrQesitmList() {
        window.location.href = '/uss/olp/qqm/qustnrQesitmListView';
    }

    function qustnrQesitmInsert() {
        if (confirm('[(#{common.save.msg})]')) {
            const errors = ['qestnrIdError', 'qestnSnError', 'qestnTyCodeError', 'qestnCnError', 'mxmmChoiseCoError'];
            errors.forEach(error => {
                document.getElementById(error).textContent = '';
                document.getElementById(error).style.display='none';
            });

            const insertForm = document.getElementById('insertForm');
            const formData = new FormData(insertForm);

            fetch('/uss/olp/qqm/qustnrQesitmInsert', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(response => {
                if (response.status === 'valid') {
                    Object.entries(response.errors).forEach(([key, value]) => {
                        document.getElementById(`${key}Error`).textContent = value;
                        document.getElementById(`${key}Error`).style.display='block';
                    });
                } else if (response.status === 'error') {
                    alert('[(#{fail.common.insert})]');
                    qustnrQesitmList();
                } else {
                    alert('[(#{success.common.insert})]');
                    qustnrQesitmList();
                }
            });
        }
    }

    function cmmnDetailCodeList() {
        fetch('/uss/olp/qqm/cmmnDetailCodeList', {
            method: 'POST'
        })
        .then(response => response.json())
        .then(data => {
            const cmmnDetailCodeList = data.cmmnDetailCodeList;
            let html = '';
            let buttonText = '[(#{comUssOlpQqm.value.view})]';
            html += '<option value="">' + buttonText + '</option>';
            cmmnDetailCodeList.forEach(function(cmmnDetailCode, index) {
                html += '<option value="' + cmmnDetailCode.code + '">' + cmmnDetailCode.codeNm + '</option>';
            });
            document.getElementById('qestnTyCode').innerHTML = html;
        });
    }

    function MaxNumberSelect() {
        let maxNumber = 0;
        let maxNumberSelectHtml = '';
        while(maxNumber < 10) {
            maxNumber++;
            maxNumberSelectHtml += '<option value="'+maxNumber+'">'+maxNumber+'</option>';
        }
        document.getElementById('mxmmChoiseCo').innerHTML = maxNumberSelectHtml;
    }

    function qestnrInfoSelect(tid, id, sj) {
        document.getElementById('qustnrTmplatId').value = tid;
        document.getElementById('qestnrId').value = id;
        document.getElementById('qustnrSj').value = sj;
        document.getElementById('qestnrIdError').textContent = '';
        document.getElementById('qestnrInfoModal').classList.remove('shown');
        document.querySelector("body").classList.remove("scroll-no");
    }
</script>

</body>
</html>
