<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{comCopSecRmt.title}+' '+#{title.create}"></title>
    <div th:replace="sec/rmt/fragment/linkFragment"></div>
</head>

<body>
<div id="container">
    <nav class="krds-breadcrumb-wrap" aria-label="브레드크럼" id="breadcrumb">
        <ol class="breadcrumb">
            <li class="home"><a href="/" class="txt" th:text="#{comCmm.home.title}"></a></li>
            <li th:text="#{comCmm.sec.title}"></li>
        </ol>
    </nav>

    <h2 class="heading-large"><span th:text="#{comCopSecRmt.title}+' '+#{title.create}"></span></h2>

    <form id="insertForm" name="insertForm" th:object="${roleInfoVO}">

        <div class="conts-wrap">
            <div class="fieldset input-form">
                <div class="form-group">
                    <div class="form-tit">
                        <label for="roleNm" th:text="#{comCopSecRam.regist.rollNm}"></label>
                    </div>
                    <div class="form-conts">
                        <input type="text" id="roleNm" name="roleNm" class="krds-input" maxlength="60"
                               th:field="*{roleNm}"
                               th:placeholder="#{comCopSecRam.regist.rollNm}+' '+#{input.input}">
                    </div>
                    <p class="form-hint-invalid" id="roleNmError" style="display:none"></p>
                </div>

                <div class="form-group">
                    <div class="form-tit">
                        <label for="rolePttrn" th:text="#{comCopSecRam.regist.rollPtn}"></label>
                    </div>
                    <div class="form-conts">
                        <input type="text" id="rolePttrn" name="rolePttrn" class="krds-input" maxlength="300"
                               th:field="*{rolePttrn}"
                               th:placeholder="#{comCopSecRam.regist.rollPtn}+' '+#{input.input}">
                    </div>
                    <p class="form-hint-invalid" id="rolePttrnError" style="display:none"></p>
                </div>

                <div class="form-group">
                    <div class="form-tit">
                        <label for="roleDc" th:text="#{comCopSecRam.regist.rollDc}"></label>
                    </div>
                    <div class="form-conts">
                        <div class="textarea-wrap">
                            <textarea id="roleDc" name="roleDc" maxlength="200" class="krds-input"
                                      th:field="*{roleDc}"
                                      th:placeholder="#{comCopSecRam.regist.rollDc}+' '+#{input.input}"></textarea>
                            <p class="textarea-count">
                                <span id="textCount" class="text-primary">0</span>
                                <span class="text-num">/200</span></p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-tit">
                        <label for="roleTy" th:text="#{comCopSecRam.regist.rollType}"></label>
                    </div>
                    <div class="form-conts">
                        <select class="krds-form-select" id="roleTy" name="roleTy" th:title="#{comCopSecRam.regist.rollType}"></select>
                    </div>
                    <p class="form-hint-invalid" id="roleTyError" style="display:none"></p>
                </div>

                <div class="form-group">
                    <div class="form-tit">
                        <label for="roleSort" th:text="#{comCopSecRam.regist.rollSort}"></label>
                    </div>
                    <div class="form-conts">
                        <input type="text" id="roleSort" name="roleSort" class="krds-input" maxlength="10"
                               th:field="*{roleSort}"
                               th:placeholder="#{comCopSecRam.regist.rollSort}+' '+#{input.input}">
                    </div>
                    <p class="form-hint-invalid" id="roleSortError" style="display:none"></p>
                </div>
            </div>
            <div class="page-btn-wrap">
                <button type="button" class="krds-btn medium tertiary" th:text="#{button.list}" th:onclick="roleInfoList()"></button>
                <button type="button" class="krds-btn medium" th:text="#{button.create}" th:onclick="roleInfoInsert()"></button>
            </div>
        </div>
    </form>
</div>

<script th:inline="javascript" defer>
    document.addEventListener('DOMContentLoaded', function() {
        cmmnDetailCodeList();

        const roleDc = document.getElementById('roleDc');
        const textCount = document.getElementById('textCount');
        roleDc.addEventListener('input', function() {
            textCount.textContent = roleDc.value.length;
        });
    });

    function roleInfoList() {
        window.location.href = '/sec/rmt/roleInfoListView';
    }

    function roleInfoInsert() {
        const insertForm = document.getElementById('insertForm');
        const formData = new FormData(insertForm);

        if (confirm('[(#{common.save.msg})]')) {
            const errors = ['roleNmError', 'rolePttrnError', 'roleTyError', 'roleSortError'];
            errors.forEach(error => {
                document.getElementById(error).textContent = '';
                document.getElementById(error).style.display="none";
            });

            fetch('/sec/rmt/roleInfoInsert', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(response => {
                if (response.status === 'valid') {
                    Object.entries(response.errors).forEach(([key, value]) => {
                        document.getElementById(`${key}Error`).textContent = value;
                        document.getElementById(`${key}Error`).style.display = "block";
                    });
                } else if (response.status === 'error') {
                    alert('[(#{fail.common.insert})]');
                    roleInfoList();
                } else {
                    alert('[(#{success.common.insert})]');
                    roleInfoList();
                }
            });
        }
    }

    function cmmnDetailCodeList() {
        fetch('/sec/rmt/cmmnDetailCodeList', {
            method: 'POST'
        })
        .then(response => response.json())
        .then(response => {
            const cmmnDetailCodeList = response.cmmnDetailCodeList;
            const defaultText = '[(#{input.select})]';

            let html = '';
            html += '<option value="">'+defaultText+'</option>';
            cmmnDetailCodeList.forEach(function (cmmnDetailCode, index) {
                if (cmmnDetailCode.code === 'url') {
                    html += '<option value="'+cmmnDetailCode.code+'">'+cmmnDetailCode.codeNm+'</option>';
                }
            });

            document.getElementById('roleTy').innerHTML = html;
        });
    }

</script>

</body>
</html>
